option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: nupicture-dev-db.cwqtmomh10su.us-west-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value:
   - option_name: DB_USERNAME
     value:
   - option_name: DB_PASSWORD
     value: