files:
    "/etc/php.ini":
        mode: "000644"
        owner: root
        group: root
        source: https://s3-us-west-2.amazonaws.com/topicloop/php.ini
    "/etc/php.d/zzz.ini":
        mode: "000644"
        owner: root
        group: root
        source: https://s3-us-west-2.amazonaws.com/topicloop/zzz.ini