<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>

</IfModule>


<ifModule mod_headers.c>
    ExpiresActive On

    # Expires after 1 month
    <filesMatch ".(gif|png|jpg|jpeg|ico|pdf|woff)$">
        Header set Cache-Control "max-age=1814400"
    </filesMatch>

    # Expires after 1 month
    <filesMatch "bootstrap\\.min\\.js$">
        Header set Cache-Control "max-age=1814400"
    </filesMatch>

    # Expires after 1 month
    <filesMatch "jquery-2\\.1\\.4\\.min\\.js$">
        Header set Cache-Control "max-age=1814400"
    </filesMatch>

    # Expires after 3 hours
    <filesMatch ".(css)$">
        Header set Cache-Control "max-age=10800"
    </filesMatch>

    # Expires after 1 hour
    <filesMatch ".(js|html)$">
        Header set Cache-Control "max-age=3600"
    </filesMatch>


</ifModule>