@import "bootstrap/bootstrap";

body {
  background-color: #f8f8f8;
}

.display-inline {
  display: inline;
}

.clear-both {
  clear: both;
}

.white-background {
  background-color: #fff;
}

.background-gray {
  background-color: #f8f8f8;
  padding: 10px 20px;
}

.background-blue {
  background-color: #E5EBF1;
  padding: 10px 20px;
}

.category {
  text-transform: uppercase;
  font-weight: 700;
  font-color: @text-color;
}

.home-column-padding {
  padding-left: 0px;
  padding-right: 0px;
}

#h6-post-meta-info {
  padding-top: 0px;
  padding-bottom: 15px;
}

.section-intro-heading {
  margin-top: 0px;
  padding-top: 10px;
  text-align: center;
}

.horizontal-post-image {
  width: 100%;
  height: 140px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 10px;
}

.horizontal-post-title {
  color: @headings-color;
}

.horizontal-post-title:hover {
  text-decoration: none;
}

.horizontal-info {
  font-size: .9em;
  color: #c8c8c8;
}

.footer{
//  margin-top: 10px;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #26252d;
  color: #838383;
  //text-align: center;
  a {
    color: #a3a3a3;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer-column {
  border-style: solid;
  border-width: 0 0 0 1px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#copyright {
  margin-top: 40px;
}

.required {
  color: #ff3e41;
  font-size: 10px;
  vertical-align: super;
}

.post-status {
  text-transform: uppercase;
}

.sign-up-row-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0px;
  color: #ffffff;
  background-position: center;
  background-image: url('/images/city-sky-lights-night.jpg');
}

.white-font {
  color: #fff;
//  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.home-sidebar {
  padding-left: @thumbnail-items-spacing/2;
  padding-top: @thumbnail-items-spacing/2;
  padding-right: @thumbnail-items-spacing/2;
}

.open-sans {
  font-family: @font-family-open-sans;
}

.post-builder-section {
  padding: 10px;
  margin: 10px 0px;
  background-color: #f8f8f8;
}

.post-builder-help-text {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #D1D1D1;
}

.post-builder-remove-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.post-builder-textarea {
  margin: 5px 0px;
}

.post-builder-add-button {
  background-color: @brand-primary-dark;
  border-color: @brand-primary-dark-border;
  color: #fff;
  &:hover {
    background-color: @brand-primary-dark-hover;
    color: #fff;
  }
}

.youtube-section {
  padding: 10px 0px;
}

.post-builder-list-number-input {
  font-family: @font-family-open-sans;
}


@import "hero.less";
@import "thumbnail.less";
@import "post.less";
