@import "bootstrap/bootstrap";

.display-inline {
  display: inline;
}

.home-thumbnail-wrapper {
  padding-top: 25px;
  height:350px;
}

.home-thumbnail {

  display:table;
  width:100%;

  background-position:center center;


  height: 100%;



}