@social-media-icon-size: 20px;

.social-media-icons {
  width: @social-media-icon-size;
  height: @social-media-icon-size;
  margin-left: 2px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.post-image {
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-main-column {
  margin-bottom: 10px;
}

.post-sidebar {
  padding: 0px 10px;
}