@social-media-icon-size: 20px;



.social-media-icons {
  width: @social-media-icon-size;
  height: @social-media-icon-size;
  margin-left: 2px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.sign-up-success-social-media-icons {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-main-column {
  padding-top: @thumbnail-items-spacing/2;
  margin-bottom: 10px;
}

.post-sidebar {
  padding-left:  10px;
  padding-right: 10px;
  margin-bottom: @thumbnail-items-spacing/2;

  margin-bottom: 10px;
}