@text-color: lighten(@gray-base, 33.5%); // #555

@thumbnail-items-spacing: 12px;

@image-height: 200px;
@text-section-height: 180px;

.home-thumbnail-wrapper {
  margin-left: @thumbnail-items-spacing/2;
  margin-right: @thumbnail-items-spacing/2;
  margin-top: @thumbnail-items-spacing/2;
  margin-bottom: @thumbnail-items-spacing/2;

  background-color: #141414;

  height: 100%;

  -webkit-transition: opacity 100ms ease;
  -moz-transition: opacity 100ms ease;
  -o-transition: opacity 100ms ease;
  transition: opacity 100ms ease;

  &:hover {
    opacity: .9;
  }
}

.home-thumbnail-image-section {
  width: 100%;
  height: @image-height;



  background-position: center center;
  background-size: cover;

  &.stylized {
    width: 100%;
    height: @image-height + @text-section-height;
    background-position: center center;
    background-size: cover;

    color: #ffffff;
  }

}

.home-thumbnail-image-stylized-overlay {
  height: 100%;

  position: relative;

  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;

  @gradient-start: rgba(68, 130, 179, 0.7);
  @gradient-end: rgba(59, 126, 149, 0.36);
  background: -webkit-linear-gradient(90deg, @gradient-start 50%, @gradient-end 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, @gradient-start 50%, @gradient-end 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, @gradient-start 50%, @gradient-end 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, @gradient-start 50%, @gradient-end 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, @gradient-start 50%, @gradient-end 90%); /* W3C */
}

.white-highlight {
  background-color: #fff;
  padding: 5px;
}

.home-thumbnail-text-section {
  background-color: #fff;
  color: @text-color;

  overflow: hidden;
  text-overflow: ellipsis;

  height: @text-section-height;

  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.home-thumbnail-title {

  font-family: @font-family-montserrat;
  text-transform: capitalize;
  line-height: 110%;

  font-size: 1.2em;
  @media (min-width: @screen-sm-min) { font-size: 1.3em; }
  @media (min-width: @screen-md-min) { font-size: 1.4em; }
  @media (min-width: @screen-lg-min) { font-size: 1.5em; }

  z-index: 2;

  &.stylized {
    position: absolute;
    top: 25%;
    left: 10px;
  }

  .home-thumbnail-category {
    font-family: @font-family-open-sans;
    font-size: .6em;
    font-weight: bold;
    text-transform: uppercase;

    color: @brand-primary;
    margin-bottom: 10px;
  }

  .home-thumbnail-summary {
    font-family: @font-family-open-sans;
    font-size: .6em;
    color: #888;
    line-height: 1.5em;

    overflow: hidden;
    height: 6em;       /* height is 2x line-height, so two lines will display */

    margin-top: 5px;
    margin-bottom: 5px;

    &.stylized{
      color: #fff;
    }
  }

  .home-thumbnail-info {
    font-family: @font-family-open-sans;
    font-size: .6em;
    color: #aaa;

    &.stylized {
      font-family: @font-family-open-sans;
      font-size: .6em;
      color: #fff;

    }
  }
}
